{$A_BLOCK_START}
<div class="cat">
	<ul class="topiclist">
		<li class="header">
			<dl class="icon">
				<dt>{L_SIMILAR_TOPICS}</dt>
				<dd class="posts">{L_REPLIES}</dd>
				<dd class="views">{L_VIEWS}</dd>
				<dd class="lastpost"><span>{L_LAST_POST}</span></dd>
			</dl>
		</li>
	</ul>
</div>
	<ul class="topiclist forums">

	<!-- BEGIN similar -->
		<li class="row">
			<dl class="icon" style="background-image: url({similar.TOPIC_FOLDER_IMG_SRC}); background-repeat: no-repeat;">
				<dt <!-- IF similar.TOPIC_ICON_IMG -->style="background-image: url({T_ICONS_PATH}{similar.TOPIC_ICON_IMG}); background-repeat: no-repeat;"<!-- ENDIF -->>
					<!-- IF similar.S_UNREAD_TOPIC --><a href="{similar.U_NEWEST_POST}">{NEWEST_POST_IMG}</a> <!-- ENDIF -->
					<a href="{similar.U_VIEW_TOPIC}" class="topictitle">{similar.TOPIC_TITLE}</a> {similar.ATTACH_ICON_IMG}
					<!-- IF similar.S_TOPIC_UNAPPROVED --><a href="{similar.U_MCP_QUEUE}">{UNAPPROVED_IMG}</a> <!-- ENDIF -->
					<!-- IF similar.S_TOPIC_REPORTED --><a href="{similar.U_MCP_REPORT}">{REPORTED_IMG}</a><!-- ENDIF --><br />
					<!-- IF similar.PAGINATION --><strong class="pagination"><span>{similar.PAGINATION}</span></strong><!-- ENDIF -->
					{L_POST_BY_AUTHOR} {similar.TOPIC_AUTHOR_FULL} &raquo; {similar.FIRST_POST_TIME}
					{L_IN} <a href="{similar.U_VIEW_FORUM}">{similar.FORUM_TITLE}</a>
				</dt>
				<dd class="posts">{similar.TOPIC_REPLIES}</dd>
				<dd class="views">{similar.TOPIC_VIEWS}</dd>
				<dd class="lastpost"><span>
					{L_POST_BY_AUTHOR} {similar.LAST_POST_AUTHOR_FULL}
					<!-- IF not S_IS_BOT --><a href="{similar.U_LAST_POST}">{LAST_POST_IMG}</a> <!-- ENDIF --><br />{similar.LAST_POST_TIME}<br /> </span>
				</dd>
			</dl>
		</li>
	<!-- END similar -->
	</ul>
{$A_BLOCK_END}
