<!-- IF S_SIMILAR_TOPICS -->
	<dl>
		<dt><label for="similar_topics1">{L_DISPLAY_SIMILAR_TOPICS}{L_COLON}</label></dt>
		<dd>
			<label for="similar_topics1"><input type="radio" name="similar_topics" id="similar_topics1" value="1"<!-- IF S_DISPLAY_SIMILAR_TOPICS --> checked="checked"<!-- ENDIF --> /> {L_YES}</label>
			<label for="similar_topics0"><input type="radio" name="similar_topics" id="similar_topics0" value="0"<!-- IF not S_DISPLAY_SIMILAR_TOPICS --> checked="checked"<!-- ENDIF --> /> {L_NO}</label>
		</dd>
	</dl>
<!-- ENDIF -->
