{% INCLUDE 'overall_header.html' %}

{% if S_ADVANCED_SETTINGS %}<a href="{{ U_BACK }}" style="float: {{ S_CONTENT_FLOW_END }};">&laquo; {{ lang('BACK') }}</a>{% endif %}

<h1>{{ lang('PST_TITLE_ACP') }}</h1>

<p>{{ lang('PST_EXPLAIN') }}</p>

<form id="acp_similar_topics" method="post" action="{{ U_ACTION }}" data-ajax="true">

{% if S_PST_NO_COMPAT %}
	<div class="errorbox">
		<h3>{{ lang('WARNING') }}</h3>
		<p>{{ lang('PST_NO_COMPAT') }}</p>
	</div>
{% endif %}

{% if S_ADVANCED_SETTINGS %}

	<fieldset>
		<legend>{{ lang('PST_ADVANCED_FORUM') }}</legend>
		<dl>
			<dt><label for="similar_forums">{{ lang('FORUM') ~ lang('COLON') }} {{ PST_FORUM_NAME }}</label><br /><br /><span>{{ lang('PST_ADVANCED_EXP', PST_FORUM_NAME) }}</span></dt>
			<dd><select id="similar_forums" name="similar_forums_id[]" multiple="multiple" size="10">{{ SIMILAR_FORUMS_OPTIONS }}</select></dd>
			<dd><a href="#" data-selector="false">{{ lang('PST_DESELECT_ALL') }}</a></dd>
		</dl>
		<p class="submit-buttons">
			<input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}" />&nbsp;
			<input class="button2" type="reset" id="reset" name="reset" value="{{ lang('RESET') }}" />
		</p>
		{{ S_FORM_TOKEN }}
	</fieldset>

	<script>
		document.querySelector("[data-selector]").addEventListener("click", (e) => {
			e.preventDefault();
			const table = document.getElementById('similar_forums');
			const state = e.target.dataset.selector === "true";
			for (const option of table.options) {
				option.selected = state;
			}
		});
	</script>

{% else %}

	<fieldset>
		<legend>{{ lang('PST_LEGEND1') }}</legend>
		<dl>
			<dt><label for="pst_enable">{{ lang('PST_ENABLE') ~ lang('COLON') }}</label></dt>
			<dd>
				<label><input type="radio" class="radio" id="pst_enable" name="pst_enable" value="1"{% if S_PST_ENABLE %} checked="checked"{% endif %}{% if S_PST_NO_SUPPORT %} disabled="disabled"{% endif %} /> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="pst_enable" value="0"{% if not S_PST_ENABLE %} checked="checked"{% endif %} /> {{ lang('NO') }}</label>
			</dd>
		</dl>
	</fieldset>

	<fieldset>
		<legend>{{ lang('PST_LEGEND2') }}</legend>
		<dl>
			<dt><label for="pst_limit">{{ lang('PST_LIMIT') ~ lang('COLON') }}</label><br /><span>{{ lang('PST_LIMIT_EXPLAIN') }}</span></dt>
			<dd><input name="pst_limit" id="pst_limit" type="number" min="0" max="999" value="{{ PST_LIMIT }}" /></dd>
		</dl>
		<dl>
			<dt><label for="pst_time">{{ lang('PST_TIME') ~ lang('COLON') }}</label><br /><span>{{ lang('PST_TIME_EXPLAIN') }}</span></dt>
			<dd><input name="pst_time" id="pst_time" type="number" min="0" max="999" value="{{ PST_TIME }}" />
				<label>
					<select name="pst_time_type">
						{% for similar_time_options in loops.similar_time_options %}
							<option value="{{ similar_time_options.VALUE }}"{% if similar_time_options.S_SELECTED %} selected="selected"{% endif %}>{{ lang(similar_time_options.LABEL) }}</option>
						{% endfor %}
					</select>
				</label>
			</dd>
		</dl>
		<dl>
			<dt><label for="pst_cache">{{ lang('PST_CACHE') ~ lang('COLON') }}</label><br /><span>{{ lang('PST_CACHE_EXPLAIN') }}</span></dt>
			<dd><input name="pst_cache" id="pst_cache" type="number" min="0" max="99999999" value="{{ PST_CACHE }}" /> {{ lang('SECONDS') }}</dd>
		</dl>
		<dl>
			<dt><label for="pst_sense">{{ lang('PST_SENSE') ~ lang('COLON') }}</label><br /><span>{{ lang('PST_SENSE_EXPLAIN') }}</span></dt>
			<dd><input name="pst_sense" id="pst_sense" type="number" min="1" max="10" value="{{ PST_SENSE }}" /></dd>
		</dl>
	</fieldset>

	{% if loops.forums|length %}
		<fieldset>
			<legend>{{ lang('PST_LEGEND3') }}</legend>
			<span class="small">{{ lang('PST_FORUM_INFO') }}</span>
			<div style="overflow: auto; max-height: 300px;">
				<table class="table1">
					<colgroup><col class="row1" /><col class="row2" /><col class="row1" /><col class="row2" /></colgroup>
					<thead>
						<tr>
							<th>{{ lang('FORUMS') }}</th>
							<th style="text-align: center;">{{ lang('PST_NOSHOW_LIST') }}</th>
							<th style="text-align: center;">{{ lang('PST_IGNORE_SEARCH') }}</th>
							<th style="text-align: center;">{{ lang('PST_ADVANCED_FORUM') }}</th>
						</tr>
					</thead>
					<tbody>
						{% for forums in loops.forums %}
						<tr>
							<td>
								<strong><a href="{{ forums.U_FORUM }}">{{ forums.FORUM_NAME }}</a></strong>
							</td>
							<td style="text-align: center; width: 20%;" title="{{ lang('PST_NOSHOW_TITLE') }} {{ forums.FORUM_NAME }}">
								<label>
									<input type="checkbox" class="radio" name="mark_noshow_forum[]" value="{{ forums.FORUM_ID }}" {{ forums.CHECKED_NOSHOW_FORUM }} />
								</label>
							</td>
							<td style="text-align: center; width: 20%;" title="{{ lang('PST_IGNORE_TITLE') }} {{ forums.FORUM_NAME }}">
								<label>
									<input type="checkbox" class="radio" name="mark_ignore_forum[]" value="{{ forums.FORUM_ID }}" {{ forums.CHECKED_IGNORE_FORUM }} />
								</label>
							</td>
							<td style="text-align: center; width: 20%;" title="{{ lang('PST_ADVANCED_TITLE') }} {{ forums.FORUM_NAME }}">
							<a href="{{ forums.U_ADVANCED }}">{% if forums.S_IS_ADVANCED %}<strong>{{ lang('PST_ADVANCED') }}</strong>{% else %}{{ lang('PST_STANDARD') }}</a>{% endif %}
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</fieldset>
	{% endif %}

	<fieldset>
		<legend>{{ lang('PST_LEGEND4') }}</legend>
		<dl>
			<dt><label for="pst_words">{{ lang('PST_WORDS') ~ lang('COLON') }}</label><br /><span>{{ lang('PST_WORDS_EXPLAIN') }}</span></dt>
			<dd><textarea name="pst_words" id="pst_words" rows="5" cols="40">{{ PST_WORDS }}</textarea></dd>
		</dl>
		{% if loops.postgres_ts_names %}
			<dl>
				<dt><label for="pst_postgres_ts_name">{{ lang('FULLTEXT_POSTGRES_TS_NAME') }}</label><br /><span>{{ lang('FULLTEXT_POSTGRES_TS_NAME_EXPLAIN') }}</span></dt>
				<dd>
					<select name="pst_postgres_ts_name" id="pst_postgres_ts_name">
						{% for ts_name in loops.postgres_ts_names %}
							<option value="{{ ts_name.NAME }}"{% if ts_name.S_SELECTED %} selected="selected"{% endif %}>{{ ts_name.NAME }}</option>
						{% endfor %}
					</select>
				</dd>
			</dl>
		{% endif %}
	</fieldset>

	<fieldset>
		<legend>{{ lang('ACP_SUBMIT_CHANGES') }}</legend>
		<p class="submit-buttons">
			<input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}" />&nbsp;
			<input class="button2" type="reset" id="reset" name="reset" value="{{ lang('RESET') }}" />
		</p>
		{{ S_FORM_TOKEN }}
	</fieldset>

{% endif %}

</form>

{% INCLUDE 'overall_footer.html' %}
