<!-- IF S_SIMILAR_TOPICS -->
	<tr>
		<td class="row1" width="50%"><b class="genmed">{L_DISPLAY_SIMILAR_TOPICS}{L_COLON}</b></td>
		<td class="row2"><input type="radio" class="radio" name="similar_topics" value="1"<!-- IF S_DISPLAY_SIMILAR_TOPICS --> checked="checked"<!-- ENDIF --> /><span class="gen">{L_YES}</span>&nbsp; &nbsp;<input type="radio" class="radio" name="similar_topics" value="0"<!-- IF not S_DISPLAY_SIMILAR_TOPICS --> checked="checked"<!-- ENDIF --> /><span class="gen">{L_NO}</span></td>
	</tr>
<!-- ENDIF -->
